.green {
  background-color: var(--main-primary-color) !important;
  text-align: center !important;
}

.yellow {
  background-color: var(--main-secondary-color) !important;
  text-align: center !important;
}
