<header class="header" role="banner">
  <h1 class="logo">
    <a href="#">Hotel<span>ium</span></a>
  </h1>
  <div class="nav-wrap">
    <nav class="main-nav" role="navigation">
      <ul class="unstyled list-hover-slide">
        <li *ngFor="let root of items">
          <a
            [routerLink]="root.url ? root.url : null"
            routerLinkActive="active-link"
          >
            <i [class]="root.icon" *ngIf="root.icon"></i>
            {{ root.label | translate }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
