<!-- <p-growl [life]="5000"></p-growl> -->
<div [class]="theme">
  <p-toast [baseZIndex]="10000000" styleClass="toast">
    <ng-template let-message pTemplate="message">
      <span
        class="ui-toast-icon pi"
        [ngClass]="{
          'pi-info-circle': message.severity == 'info',
          'pi-exclamation-triangle': message.severity == 'warn',
          'pi-times': message.severity == 'error',
          'pi-check': message.severity == 'success'
        }"
      ></span>
      <div class="ui-toast-message-text-content">
        <div class="ui-toast-summary">{{ message.summary }}</div>
        <div [innerHTML]="message.detail" class="ui-toast-detail"></div>
      </div>
    </ng-template>
  </p-toast>

  <p-confirmDialog
    header="Confirmation"
    #cd
    [closeOnEscape]="false"
    [closable]="false"
  >
    <p-footer>
      <button
        *ngIf="cd.rejectVisible"
        type="button"
        pButton
        [icon]="cd.acceptVisible ? 'fas fa-times' : ''"
        [label]="
          cd.acceptVisible
            ? ('form.btn.no' | translate)
            : (cd.rejectLabel | translate)
        "
        class="ui-dark-button"
        (click)="cd.reject()"
      ></button>
      <button
        *ngIf="cd.acceptVisible"
        type="button"
        pButton
        [icon]="cd.rejectVisible ? 'fas fa-check' : ''"
        [label]="
          ((cd.acceptLabel | lowercase) == 'yes'
            ? 'form.btn.yes'
            : cd.acceptLabel
          ) | translate
        "
        class="ui-green-button"
        (click)="cd.accept()"
      ></button>
    </p-footer>
  </p-confirmDialog>

  <router-outlet></router-outlet>

  <div class="loding" *ngIf="loadingService.isLoading" @fade>
    <p-progressSpinner strokeWidth="2"></p-progressSpinner>
  </div>
</div>
