<div>
  <div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-12 ui-lg-12 pb-0 pt-0">
      <div class="ui-g-12 ui-md-3 ui-lg-3">
        <p-card styleClass="card-green card-border">
          <i class="fas fa-equals fa-3x dashboardIcon-3"></i>
          <div class="title titleBgDasboard-3">
            {{ "dashboard.month-name" | translate }}
          </div>
          <div class="count number-red font-arial">
            {{ balance?.monthName | uppercase }}
          </div>
        </p-card>
      </div>
      <div class="ui-g-12 ui-md-3 ui-lg-3">
        <p-card styleClass="card-blue card-border">
          <i class="fas fa-cubes dashboardIcon-1"></i>
          <div class="title titleBgDasboard-1">
            {{ "dashboard.total-income" | translate }}
          </div>
          <div class="count number-blue font-arial">
            {{ balance?.totalIncome }}<small>{{ "₺" }}</small>
          </div>
        </p-card>
      </div>

      <div class="ui-g-12 ui-md-3 ui-lg-3">
        <p-card styleClass="card-blue card-border">
          <i class="fas fa-cubes dashboardIcon-1"></i>
          <div class="title titleBgDasboard-1">
            {{ "dashboard.total-expense" | translate }}
          </div>
          <div class="count number-blue font-arial">
            {{ balance?.totalExpense }}<small>{{ "₺" }}</small>
          </div>
        </p-card>
      </div>
      <div class="ui-g-12 ui-md-3 ui-lg-3">
        <p-card styleClass="card-green card-border">
          <i class="fas fa-shopping-cart dashboardIcon-2"></i>
          <div class="title titleBgDasboard-2">
            {{ "dashboard.case-balance" | translate }}
          </div>
          <div class="count number-red font-arial">
            {{ balance?.caseBalance }}<small>{{ "₺" }}</small>
          </div>
        </p-card>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12 pb-0 pt-0">
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <p-card styleClass="card-green card-border">
          <i class="fas fa-shopping-cart dashboardIcon-2"></i>
          <div class="title titleBgDasboard-2">
            {{ "dashboard.cash-income" | translate }}
          </div>
          <div class="count number-red font-arial">
            {{ balance?.cashIncome }}<small>{{ "₺" }}</small>
          </div>
        </p-card>
      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <p-card styleClass="card-green card-border">
          <i class="fas fa-equals fa-3x dashboardIcon-3"></i>
          <div class="title titleBgDasboard-3">
            {{ "dashboard.debit-income" | translate }}
          </div>
          <div class="count number-red font-arial">
            {{ balance?.debitIncome }}
            <small>{{ "₺" }}</small>
          </div>
        </p-card>
      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <p-card styleClass="card-green card-border">
          <i class="fas fa-dollar-sign dashboardIcon-4"></i>
          <div class="title titleBgDasboard-4">
            {{ "dashboard.bank-income" | translate }}
          </div>
          <div class="count number-red font-arial">
            {{ balance?.bankIncome }}<small>{{ "₺" }}</small>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
